//////////////////////////////////////////////////////////////////////
// AE - VN Tools                                                    //
// © 2007-2013 WinKiller Studio & The Contributors.                 //
// This software is free. Please see License for details.           //
//                                                                  //
// Extras resource file                                             //
//                                                                  //
// Written by dsp2003.                                              //
//////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////
// Interface skin                                                   //
//////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////
// Game Archive Tool                                                //
//////////////////////////////////////////////////////////////////////
ICO_ARC_CLOSE       PNG "ICO_ARC_CLOSE.PNG"
ICO_ARC_CREATE      PNG "ICO_ARC_CREATE.PNG"
ICO_ARC_EXTRACT     PNG "ICO_ARC_EXTRACT.PNG"
ICO_ARC_EXTRACT_ALL PNG "ICO_ARC_EXTRACT_ALL.PNG"
ICO_ARC_OPEN        PNG "ICO_ARC_OPEN.PNG"

//////////////////////////////////////////////////////////////////////
// Audio Tool                                                       //
//////////////////////////////////////////////////////////////////////
ICO_AUDIO_BATCH     PNG "ICO_AUDIO_BATCH.PNG"
ICO_AUDIO_CONVERT   PNG "ICO_AUDIO_CONVERT.PNG"
ICO_AUDIO_OPEN      PNG "ICO_AUDIO_OPEN.PNG"

//////////////////////////////////////////////////////////////////////
// Dummy Icon                                                       //
//////////////////////////////////////////////////////////////////////
ICO_DUMMY           PNG "ICO_DUMMY.PNG"

//////////////////////////////////////////////////////////////////////
// Misc Tools                                                       //
//////////////////////////////////////////////////////////////////////
ICO_FILE_BRUTEFORCE PNG "ICO_FILE_BRUTEFORCE.PNG"
ICO_FILE_INVERT     PNG "ICO_FILE_INVERT.PNG"

//////////////////////////////////////////////////////////////////////
// Image Tool aka EDGE                                              //
//////////////////////////////////////////////////////////////////////
ICO_IMG_BATCH       PNG "ICO_IMG_BATCH.PNG"
ICO_IMG_CONVERT     PNG "ICO_IMG_CONVERT.PNG"
ICO_IMG_GRAPS       PNG "ICO_IMG_GRAPS.PNG"
ICO_IMG_OPEN        PNG "ICO_IMG_OPEN.PNG"

//////////////////////////////////////////////////////////////////////
// Console log                                                      //
//////////////////////////////////////////////////////////////////////
//ICO_LOG_CLEAR       PNG "ICO_LOG_CLEAR.PNG"
ICO_LOG_SAVE        PNG "ICO_LOG_SAVE.PNG"

//////////////////////////////////////////////////////////////////////
// Scenario Tool                                                    //
//////////////////////////////////////////////////////////////////////
ICO_SCR_EXPORT      PNG "ICO_SCR_EXPORT.PNG"
ICO_SCR_IMPORT      PNG "ICO_SCR_IMPORT.PNG"
ICO_SCR_OPEN        PNG "ICO_SCR_OPEN.PNG"
//ICO_SCR_REPAIR    PNG "ICO_SCR_REPAIR.PNG"

//////////////////////////////////////////////////////////////////////
// About box & inner logo                                           //
//////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////
// Mascot's sprite                                                  //
//////////////////////////////////////////////////////////////////////
MASCOT              PNG "nepeta.png"
MASCOT_M            PNG "nepeta_m.png"

//////////////////////////////////////////////////////////////////////
// AE logo                                                          //
//////////////////////////////////////////////////////////////////////
LOGO PNG "LOGO.PNG"
LOGO_CODENAME PNG "LOGO_CODENAME.PNG"

//////////////////////////////////////////////////////////////////////
// Misc resources                                                   //
//////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////
// Custom hand cursor                                               //
//////////////////////////////////////////////////////////////////////
//HAND CURSOR "hand.cur"

//////////////////////////////////////////////////////////////////////
// GrapS icon                                                       //
//////////////////////////////////////////////////////////////////////
ZGRAPSICON ICON "GRAPS.ICO"

//////////////////////////////////////////////////////////////////////
// XP Manifest                                                      //
//////////////////////////////////////////////////////////////////////
//1 24 "manifest.xml"